{% extends 'base.html.twig' %}

{% block title %} Trombinoscope{% endblock %}

{% block body %}

    <div class="container">
        <h1>Trombinoscope</h1>
        {% for group in groups %}
            <h2>{{ group.name }}</h2>
            <div class="d-flex flex-row flex-wrap justify-content-around mb-3 align-items-center">

                {% for student in group.getAllStudents %}
                    <div class="card mb-3" style="width: 18rem;">
                        <img class="card-img-top" src="{{ student.picture }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ student.fullName }}</h5>
                            {% if student.groupClass.groupParent.name %}
                                <p class="card-text">Groupe TD : {{ student.groupClass.groupParent.name }}</p>
                            {% endif %}
                            <p class="card-text">Groupe TP : {{ student.groupClass.name }}</p>
                            {% if is_granted('ROLE_YEAR_RESPONSIBLE') %}
                                <a href="{{ path('student_absences_list', {'id' : student.id}) }}"
                                   class="btn btn-primary">Voir les absences</a>
                            {% endif %}
                        </div>

                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

{% endblock %}