{% block _absences_report_absences_widget %}
    <p>Ici, vous pouvez ajouter les étudiants absents !</p>
    {{ form_widget(form) }}
    <input type="hidden" id="widgets-counter" value="0">

    <div class="form-group">
        <button type="button" id="add-abscence" class="btn btn-primary">Ajouter une absence à votre cours.</button>
    </div>
{% endblock %}

{#
Reset the row collumn and call the next. : https://symfony.com/doc/current/form/form_themes.html#creating-a-form-theme-in-a-separate-template
#}
{% block _absences_report_absences_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _absences_report_absences_entry_widget %}
    <div class="form-group" id="block_{{ id }}">
        <div class="row">
            <div class="col-10">
                <div class="row">
                    <div class="col">
                        {{ form_label(form.lateTime) }}
                        {{ form_widget(form.lateTime) }}
                        {{ form_errors(form.lateTime) }}

                    </div>
                    <div class="col">
                        {{ form_label(form.student) }}
                        {{ form_widget(form.student) }}
                        {{ form_errors(form.student) }}
                    </div>
                </div>
            </div>
            <div class="col-2">
                <button type="button" data-action="delete" data-target="#block_{{ id }}" class="btn btn-danger">X
                </button>
            </div>
        </div>

    </div>
{% endblock %}

{% block choice_widget_expanded %}
    <div {{ block('widget_container_attributes') }} class="my-form-choices">
        {% for child in form %}
            {{ form_widget(child) }}
        {% endfor %}
    </div>
{% endblock choice_widget_expanded %}

{% block checkbox_widget %}
    <div class="form-check col-6 col-sm-4 col-lg-2 mb-3">
        <input class="form-check-input" type="checkbox" id="{{ id }}_label" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %}>
        <label class="form-check-label" for="{{ id }}_label" >
            <div {{ block('widget_attributes') }} class="img_trombi"></div>
            {{ label|trans({}, translation_domain) }}
        </label>
    </div>
{% endblock checkbox_widget %}

