{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid px-md-4">
        <div class="page-header min-height-300 border-radius-xl mt-4"
             style="background-image: url('https://images.unsplash.com/photo-1531512073830-ba890ca4eba2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=80');">
            <h1 class="px-4">Absence {{ student.fullName }}  </h1>
            <span class="mask  bg-gradient-primary  opacity-6"></span>
        </div>
        <div class="card card-body mx-3 mx-md-4 mt-n6">
            <div class="row gx-4 mb-2">
                <div class="col-auto">
                    <div class="avatar avatar-xl position-relative">
                        <img src="{{ student.picture }}" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
                    </div>
                </div>
                <div class="col-auto my-auto">
                    <div class="h-100">
                        <h5 class="mb-1">
                            {{ student.fullName }}
                        </h5>
                        <p class="mb-0 font-weight-normal text-sm">
                            {{ student.groupClass.name }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row">
                    <div class="col-12 col-xl-4">
                        <div class="card card-plain h-100">
                            <div class="card-header pb-0 p-3">
                                <h6 class="mb-0">Informations</h6>
                            </div>
                            <div class="card-body p-3">
                                <ul class="list-group">
                                    <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Nombre
                                            d'absences:</strong> &nbsp;{{ student.absences | length }}</li>
                                    <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Nombre
                                            d'absences non justifié:</strong>
                                        &nbsp; {{ student.getNumberUnjustifiedAbsences }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid px-md-4 mt-5">
            <div class="row">
                <div class="col-12">
                    <div class="card my-4">
                        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                                <h6 class="text-white text-capitalize ps-3">Liste des absences correspondantes</h6>
                            </div>
                        </div>
                        <div class="card-body px-0 pb-2">
                            <div class="table-responsive p-0">
                                <table class="table align-items-center mb-0">
                                    <thead>
                                    <tr>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Date
                                        </th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Professeur
                                        </th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                            Temps de retards
                                        </th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Valide ?
                                        </th>
                                        <th class="text-secondary opacity-7"></th>
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <th></th>
                                        {% endif %}
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for absence in student.absences %}
                                        <tr>
                                            <td class="align-middle text-center text-sm">{{ absence.absencesReport.date | date }}</td>
                                            <td>{{ absence.absencesReport.teacher.fullName }}</td>
                                            <td>{{ absence.lateTime }}</td>
                                            <td class="align-middle text-center text-sm">
                                                {% if absence.isValid == true %}
                                                    <span class="badge bg-success">Justifié</span>
                                                {% elseif absence.isValid is null %}
                                                    <span class="badge bg-secondary">A Justifié</span>
                                                {% else %}
                                                    <span class="badge bg-danger">Non Justifié</span>
                                                {% endif %}
                                            </td>

                                            <td><a href="{{ path('absence_show', {'id' : absence.id}) }}"
                                                   class="btn btn-primary">Voir</a></td>
                                            {% if is_granted('ROLE_ADMIN') %}
                                                <td>
                                                    <a href="{{ path('absence_edit', {'id' : absence.id}) }}"
                                                       class="btn btn-primary">Modifier</a>
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    Absence de {{ student.fullName }}
{% endblock %}

