{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card my-4">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                            <h6 class="text-white text-capitalize ps-3">Liste des rapports d'absences</h6>
                        </div>
                    </div>
                    <div class="card-body px-0 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0">
                                <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Date
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Professeur
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Nombre D'élèves
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Nombre D'absents
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Nombre Absences Non Justifiées
                                    </th>
                                    <th class="text-secondary opacity-7"></th>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <th></th>
                                        <th></th>
                                    {% endif %}
                                </tr>
                                </thead>
                                <tbody>

                                {% for report in reports %}
                                    <tr>
                                        <td>{{ report.date | date }}</td>
                                        <td>{{ report.teacher.fullName }}</td>
                                        <td class="align-middle text-center text-sm">{{ report.studentsGroup | length }}</td>
                                        <td class="align-middle text-center text-sm">{{ report.studentsAbsent | length }}</td>
                                        <td class="align-middle text-center text-sm">{{ report.getNumberUnjustifiedAbsences }}</td>
                                        <td class="align-middle text-center text-sm"><a class="btn btn-primary"
                                                                                        href="{{ path('report_absence_show', {'id': report.id}) }}">Voir</a>
                                        </td>
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <td class="align-middle text-center text-sm"><a class="btn btn-primary"
                                                                                            href="{{ path('report_absence_edit', {'id': report.id}) }}">Modifier</a>
                                            </td>
                                            <td class="align-middle text-center text-sm"><a class="btn btn-danger"
                                                                                            href="{{ path('report_absence_delete', {'id': report.id}) }}"
                                                                                            onclick="return confirm('Etes vous vraiment sûre ?')">Supprimer</a>
                                            </td>
                                        {% endif %}

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    Listes des rapports
{% endblock %}